include /_mixin

doctype html
html(lang="en-US")
  head
    title Sushi Restaurant Website
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    +stylesheet_link_tag('whitespace-reset-modified')
    +stylesheet_link_tag('main')
    +javascript_script_tag('vendor/all')
    +javascript_script_tag('handlebars_templates')
  body
    header
      a.logo(href="/")
        img(src="/images/logo.png" alt="logo")
      .cart
    main
      #cart
      #content
    block content
    footer

    +javascript_script_tag('application')
    +javascript_script_tag('models/item')
    +javascript_script_tag('collections/items', 'collections/cart_items')
    +javascript_script_tag('views/menu', 'views/cart', 'views/header', 'views/menuItem', 'views/checkout', 'views/nutrition')
    script(type="text/javascript").
      App.menu_items = new MenuItems(!{JSON.stringify(items)});
    +javascript_script_tag('router')

    